<div class="container" id="login_screen">
  <div class="row align-items-center">
    <div class="col align-items-center">
        <%= link_to 'Entrar como Servicio', new_servicio_session_path, class: 'btn btn-lg btn-primary' %>
    </div>
    <div class="col align-items-center">
        <%= link_to 'Entrar como Monitor', new_usuario_session_path, class: 'btn btn-lg btn-warning' %>
    </div>
  </div>
</div>