<div id="header">
  <%= button_to "logout", destroy_usuario_session_path, method: :delete, class: "logout btn btn-outline-dark"  %>
</div>
<div id="disponibles_app">
  <div id="servicio">
    <select id="servicio_select" v-model="servicio" class="form-select form-select-lg mb-3">
    <% @servicios.each do |servicio| %>
      <option value="<%= servicio[0] %>"><%= servicio[1] %></option>
    <% end %>
    </select>
  </div>
  <div id="week" v-show="show_week_form">
    <select id="week_select" v-model="week" v-html="week_form" class="form-select form-select-lg mb-3">
      {{ week_form }}
    </select>
  </div>
  <div id="horario" v-html="horario" v-show="show_monitores">
    {{ horario }}
  </div>
  <div class="row align-items-center" v-show="show_monitores">
    <div class="col align-items-center" v-show="viewing_monitores">
        <button class='btn btn-lg btn-primary' v-on:click="getDisponibilidad">Editar Disponibilidad</button>
    </div>
    <div class="col align-items-center" v-show="editing_disponibilidad">
        <button class='btn btn-lg btn-primary' v-on:click="getMonitores">Cancelar</button>
    </div>
  </div>
</div>
<script>
  var disponibles_app = new Vue({
      el: '#disponibles_app',
      data: {
        servicio: '',
        horario: '',
        monitores: '',
        week_form: '',
        show_week_form: false,
        show_monitores: false,
        viewing_monitores: false,
        editing_disponibilidad: false,
        week: ''
      },
      watch: {
        servicio: function(chosen_servicio) {
          this.getWeeks()
          this.show_week_form = true
          this.show_monitores = false
        },
        week: function(chosen_week) {
          this.getMonitores()
          this.show_monitores = true
        }
      },
      methods: {
        getWeeks: function() {
          var da = this
          axios.get('http://localhost:3000/disponibles/week_form/'+this.servicio)
            .then(function(response) {
              da.week_form = response.data
            })
        },
        getDisponibilidad: function() {
          var da = this
          axios.get('http://localhost:3000/disponibles/disponibilidad/'+this.servicio+'/'+this.week)
            .then(function(response) {
              da.horario = response.data
              da.viewing_monitores = false
              da.editing_disponibilidad = true
            })
        },
        getMonitores: function() {
          var da = this
          axios.get('http://localhost:3000/disponibles/monitores/'+this.servicio+'/'+this.week)
            .then(function(response) {
              da.horario = response.data
              da.viewing_monitores = true
              da.editing_disponibilidad = false
            })
        }
      }
    })
</script>